@import "./fonts.css";
/* basic conf*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat",sans-serif;
    background: #FAFAFA;;
}
button{
    background: none;
    border: none;
}
input{
    border: none;
}
a{
    text-decoration: none;
    color: inherit;
}
/* basic conf*/

/* unique conf*/
.row{
    display: flex;
}
.col-6{
    width: 50%;
}
.col-4{
    width: 33.33333%;
}
.col-3{
    width: 25%;
}
.col-2{
    width: 20%;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.container{
    max-width: 1060px;
    padding: 0 10px;
    margin: 0 auto;
}
.section_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
}
.section_desc{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #737373;
}
.rounded-btn{
    padding: 10px 46px;
    border-radius: 37px;
}
/* unique conf*/
.header_burger{
    display: none;
}
/* haeder section*/
.header{
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 36px
}
.header_logo{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #252B42;
    margin-right: 115px;
}
.header_link{
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #737373;
    margin-right: 21px;
}
/* haeder section*/

/* hero section*/
.hero{
    position: relative;
    height: 100vh;
    padding-top:184px ;
    background: url("../images/cover1.png")no-repeat center/cover;
}
.hero_title{
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    width: 509px;
}
.hero_desc{
    font-size: 20px;
    line-height: 30px;
    width: 376px;
    margin: 35px 0;
}
.hero_filled{
    border: 1px solid #FFA62B;
    background: #FFA62B;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    margin-right: 10px;
}
.hero_filled:hover{
    background: #fff;
    transition: 0.6s;
    color:#FFA62B;
}
.hero_hollow{
    border: 1px solid #00A0C1;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #00A0C1;
}
.hero_hollow:hover{
    background: #00A0C1;
    transition: 0.6s;
    color: white;
}
.hero .container{
    position:relative;
    height: 100%;
}
.hero .row{
    position: absolute;
    width: 100%;
    bottom: -19px;
    gap: 30px;
}
.hero_card{
    height: 210px;
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
    background: #fff;
    padding: 35px 0 35px 40px;
    transition:0.6s;
}
.hero_sm-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #252B42;
    margin: 10px 0;
    transition:0.6s;
}
.hero_sm-desc{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    transition:0.6s;
}
.hero_card svg {
    transition:0.6s;
    fill:#00A0C1;
}
.hero_card:hover{
    background: #00A0C1;
}
.hero_card:hover svg{
    fill: #ffffff;
}
.hero_card:hover .hero_sm-title{
    color: #ffffff;
}
/* hero section*/
/* reason section*/
.reason{
    padding: 192px 0 80px;
}
.reason_title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    transition: 0.6s;
}
.reason_desc{
    width: 511px;
    margin: 10px auto 50px;
}
.reason .row{
    gap: 40px;
}
.reason_card{
    background: #fff;
    text-align: center;
    padding: 32px 0 30px;
    transition: 0.6s;

}
.reason_card:hover{
    background: #00A0C1;
    transition: 0.6s;
}
.reason_card:hover .reason_md-desc{
    color:#fff;
}
.reason_number{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    transition: 0.6s;
}
.reason_card:hover .reason_number{
    color:#fff;
}
.reason_card svg{
   fill: #00A0C1;
    transition: 0.6s;
}
.reason_card:hover svg{
    fill: #ffffff;
    transition: 0.6s;
}
.reason_md-desc{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #737373;
    transition: 0.6s;
}
/* reason section*/
/* practice section*/
.practice{
padding: 125px 0 81px;
}
.practice_title{
    text-align: center;
}
.practice_desc{
    width: 470px;
    margin: 10px auto 45px;
}
.practice_com{
    margin: 15px auto 30px ;
}
.practice_card{
    background: #fff;
}
.practice .row{
    gap: 40px;
}
.practice_content{
    padding: 30px 29px 0;
    height: 203px;
}
/* practice section*/

/* about section*/
.about {
    padding: 100px 0;
    background: #fff;
}
.about_title{
    width: 477px;
    text-align: center;
    margin: 0 auto;
}
.about_desc{
    width: 511px;
    margin: 15px auto 100px;
}
.about_img{
    position: relative;
    width: 597px;
    height: 442px;
}
.about_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_img svg{
    content:"";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.content{
    padding-top: 20px;
    width: 333px;
}
.content .section_desc{
    text-align: left;
    margin: 10px 0 50px;
}
.about_md-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
}
.about_md-desc{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
}
.content svg{
    margin-right: 22px;
}
.about_md-desc:not(:last-child){
    margin: 5px 0;
}
.content .d-flex:not(:last-child){
    margin-bottom: 30px;
}
/* about section*/

/* clients section*/
.clients_top{
    height: 262px;
}
.clients_grid{
    height: 175px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    grid-column-gap:30px;
}
.clients_bottom{
    position: relative;
    height: 77px;
    background-color:  #252B42;;
}
.clients_form{
    position: absolute;
    left: 0;
    right: 0;
    bottom:20px;
    margin: 0 auto;
    background: #087d93;
    width: 986px;
    height: 124px;
    padding: 0 50px;
    align-items: center;
}
.clients_title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    width: 258px;
}
.clients_inp{
    width: 333px;
    border-radius: 5px 0 0 5px;
    height: 58px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    background: #F9F9F9;
    padding: 0 20px;
    border: 1px solid #E6E6E6;

}
.clients_inp:focus{
    border: none;
}
.clients_inp::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #737373;

}
.clients_subscribe{
    width: 117px;
    height: 58px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: #FFA62B;
    border: 1px solid #E6E6E6;
    border-radius: 0 5px 5px 0

}
.clients_subscribe:hover{
    transition: 0.6s;
    background: #00A0C1;
    color: #252B42;
}
/* clients section*/
/* contact section*/
.contact{
    padding: 80px 0 148px;
    background:  #F3F3F3;;
}
.contact_title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
}
.contact_desc{
    margin: 10px 0 80px;
}
.contact_card svg{
    margin-bottom: 15px;
}
.contact_cards{
    width: 984px;
    margin: 0 auto;

}
.contact_card-light {
    padding: 50px 0;
    background: #fff;
    transition: 0.6s;
}
.contact_card-light:hover{
    transition: 0.6s;
    background: #252B42;
}
.contact_card-dark{
    padding: 80px 0;
    background: #252B42;
}
.contact_card-dark .contact_email,
.contact_card-dark .contact_btn,
.contact_card-dark .contact_support {
    color: #fff;
}
.contact_card-dark .contact_btn{
    border: 1px solid #FFFFFF;
    border-radius: 5px;

}
.contact_support{
    margin: 15px 0 ;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #252B42;
}
.contact_email{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #252B42;
    transition: 0.6s;
}
.contact_card-light:hover .contact_email,
.contact_card-light:hover .contact_support{
    transition: 0.6s;
    color: #fff;
}
.contact_btn{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFA62B;
    border: 1px solid #FFA62B;
    border-radius: 5px;
    width: 160px;
    height: 44px;
    transition: 0.6s;

}
.contact_card:hover .contact_btn{
    transition: 0.6s;
    color: #fff;

}
/* contact section*/
/* footer section*/
.footer_top{
    height: 142px;
}
.footer_top .container{
    height: 142px;
}
.footer_top-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #252B42;
}
.footer_top-desc{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    text-align: left;
    margin-top: 10px;
}
.footer_top-btn{
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    background: #FFA62B;
    border-radius: 5px;
    width: 160px;
    height: 58px;
    transition: 0.6s;
}
.footer_top-btn:hover{
    transition: 0.6s;
    background: #00A0C1;
    color: #252B42;
}
.footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    grid-column-gap: 30px;
}
.footer_middle {
    background: #16697A;
    padding: 50px 0 52px;
    height: 272px;
}
.footer_link {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer_link:not(:last-child) {
    margin-bottom: 10px;
}
.footer_link.footer_title {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 20px;
}
.footer_link.d-flex {
    display: flex;
}
.footer_link svg {
    margin-right: 10px;
}
.footer_bottom {
    height: 74px;
}
.footer_info {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
    margin: 25px 0;
}
.footer_botton{
    height: 74px;
}
.footer_botton .container{
    height: 74px;
}
.fa-brands{
    margin-right: 20px;
    font-size: 24px;
}
.fa-brands.fa-facebook-square{

    color: #335BF5;
}
.fa-brands.fa-instagram{
    color:  #E61F5A;;
}
.fa-brands.fa-twitter{
    color: #21A6DF
}
.fa-brands.fa-youtube{
    color: #E42F08
}
/* footer section*/

